@model ProductListModel

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">Sci-Fi</li>
            <li class="list-group-item">Horror</li>
            <li class="list-group-item">Commedy</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <partial name="_products" model="@item" />
            }
        </div>
    </div>
</div>